     
/* HOME PAGE */
.container {
    position: relative;
    display: block;
    flex-direction: column;
    @include widthHeight;
    /* section hero */
    .modeEmploi {
        @include flexCenter;
        text-align: center;
        flex-direction: column;
        gap: 15px;
        @include widthHeight;
        padding: 50px 30px;
        background-color: $color-grey-light;
        box-shadow: 0 4px 4px 0 inset $boxshadow-25;
    }
    .modeEmploi__title {
        font-size: 24px;
        font-weight: 700;
        padding: 0 20px;
    }
    .modeEmploi__description {
        font-size: 18px;
        font-weight: 300;
        @include widthHeight;
        padding-bottom: 10px;
    }
}
/* section fonction */
.fonction {
    @include flexCenter;
    flex-direction: column;
    gap: 25px;
    @include widthHeight;
    padding: 50px 30px 50px 20px;
    .fonction__title {
        @include widthHeight;
    }
    .fonction__group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
        @include widthHeight;
    }
    .fonction__block {
        position: relative;
        @include flexCenter;
        flex-grow: 1;
        gap: 25px;
        max-width: 350px;
        height: 72.38px;
        left: 12px;
        padding-left: 35px;
        border-radius: 20px;
        background-color: $color-grey-light;
        box-shadow: 0 4px 15px 0 $boxshadow-15;
    }
}
.fonction__number {
    position: absolute;
    @include flexCenter;
    width: 24px;
    height: 24px;
    left: -13px;
    border-radius: 50%;
    background-color: $color-purple;
    .fonction__number__number {
        font-size: 14.18px;
        font-weight: 500;
        line-height: 16.62px;
        color: $color-white;
    }
}
.fonction__content {
    display: flex;
    align-items: baseline;
    @include widthHeight;
    gap: 25px;
    .fonction__ico {
        font-size: 19.9px;
        color: $color-grey-icone;
    }
    .fa-store {
        @include flexCenter;
        color: $color-purple;
    }
}
.fonction__comment {
    @include flexCenter;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}
/* section restaurant */
.restaurants {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
    @include widthHeight;
    padding: 50px 15px;
    background-color: $color-grey-light;
    .restaurants__block {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        @include widthHeight;
        gap: 28px;
    }
    .restaurant__part {
        position: relative;
        @include flexCenter;
        flex-grow: 1;
        height: auto;
    }
}
.restaurants__link {
    @include widthHeight;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px 15px;
    background-color: $color-white;
    cursor: pointer;
    .restaurants__top {
        position: relative;
        width: 100%;
        height: 180px;
        border-radius: 15px 15px 0 0;
    }
    .restaurants__img {
        width: 100%;
        height: 180px;
        border-radius: 15px 15px 0 0;
    }
    .restaurants__nouveau {
        position: absolute;
        @include flexCenter;
        width: 80px;
        height: 29px;
        top: 10px;
        right: 10px;
        font-size: 14px;
        font-weight: 500;
        color: $color-green;
        background-color: $color-green-light;
    }
}
.restaurants__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include widthHeight;
    padding: 20px;
    .restaurants__text {
        overflow: hidden; /* empêcher le texte de sortir du conteneur */
        white-space: nowrap; /* évite le retour à la ligne */
        text-overflow: ellipsis; /* force le navigateur à ajouter des points de suspensions */
        width: calc(100% - 25px);
    }
    .restaurants__text__title {
        overflow: hidden; /* empêcher le texte de sortir du conteneur */
        white-space: nowrap; /* évite le retour à la ligne */
        text-overflow: ellipsis; /* force le navigateur à ajouter des points de suspensions */
        font-size: 18px;
        font-weight: 700;
    }
    .restaurants__text__comment {
        overflow: hidden; /* empêcher le texte de sortir du conteneur */
        white-space: nowrap; /* évite le retour à la ligne */
        text-overflow: ellipsis; /* force le navigateur à ajouter des points de suspensions */
        font-size: 17px;
        font-weight: 300;
    }
}
