
/* media quereis */
$layout-breakpoint-small: 376px;

/* boxshadow */
$boxshadow-1: rgba(0, 0, 0, 0.1);
$boxshadow-15: rgba(0, 0, 0, 0.15);
$boxshadow-25: rgba(0, 0, 0, 0.25);
$boxshadow-35: rgba(0, 0, 0, 0.35);
/* color */
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #EAEAEA;
$color-grey-light: #F6F6F6;
$color-grey-dark: #353535;
$color-grey-icone: #7E7E7E;
$color-green: #008766;
$color-green-light: #99E2D0;
$color-blue: #003A6B;
$color-blue-light: #89C8FA;
$color-purple-c: #aa66fe;
$color-purple: #9356dc;
$color-pink-c: #ff7df0;
$color-pink: #ff79da;
